
.user-profile {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.user-profile img {
    border: 1px solid rgb(134, 131, 131);
    border-radius: 50%;
}

td:nth-child(even), th:nth-child(even) {
    background-color: #D6EEEE;
  }

  .membership-status a {
    padding: 6px 10px;
    color: white !important;
    background-color: #0159D3;
    border-radius: 8px !important;
  }