html, body {
  font-family: 'Poppins';
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #f2f2f2;
  letter-spacing: 0.03rem;
}

body #root {
  height: inherit;
}

h3 {
  color: #000;
}

a {
  color: #0F1111;
}

/* Scroll Bar */

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(66, 66, 66, 0.2);
  border: 0px;
  background-clip: padding-box;
  border-radius: 5px;
}

.topbar {
  /* background-image: linear-gradient(90deg, #00347D 0%, #0159D3 100%); */
  font-size: 15px;
  color: #fff;
  background-color: #ff5b00;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dropdown-basic-button {
  background-color: transparent !important;
  border: none !important;
}

#dropdown-basic-button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.topbar .dropdown-toggle::after {
  right: 0 !important;
}

.topbar .dropdown-menu {
  inset: 0px auto auto -24px !important;
  margin-top: 11px !important;
}

.dropdown-menu.show a label, input {
  cursor: pointer;
}
.dropdown-menu.show a label {
  margin-bottom: 0 !important;
}

.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
  border: none !important;
}

.logoSize {
  max-width: 180px;
  max-height: fit-content;
}

nav {
  /* background-color: #407fbe; */
  padding: 1rem 1rem;
}

#search_btn {
  background-color: #febd69;
  width: 75px;
}


.input-group {
  width: 100%;
}

#search_field {
  height: 2.4rem;
  padding: 20px;
  /* border: 1px solid #f99008; */
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

#search_field:focus {
  outline: none;
}

/* input {
  outline: none;
  outline: 0;
} */


.sell-products a {
  width: fit-content;
  text-align: center;
  display: block;
  padding: 7px 10px;
  color: #fff;
  background-color: transparent;
  border-radius: 20px;
  transition: 0.7s;
  font-size: 16px;
}

.sell-products a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(24, 18, 18);
}


#login_btn,
#view_btn {
  background-color: transparent;
  color: #fff;
  padding: 0.3rem 1.8rem;
  border-radius: 30px;
  transition: 0.7s;
  font-size: 16px;
}


#login_btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(24, 18, 18)
}


  .loginButton{
    width: 250px;
    padding: 15px 25px;
    border-radius: 5px;
    color: #6c757d!important;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .loginButton img {
    width: 20px;
    margin-right: 20px;
  }
  
  .google{
    background-color: #ffffff;
  }


#cart {
  font-size: 1rem;
  color: white;
}

#cart_count {
  background-color: #febd69;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
}

/* Home page */
#products_heading {
  margin-top: 1.8rem;
}

.card {
  height: 100%;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(255, 255, 255);
  background-clip: border-box;
  border: none;
  border-radius: 8px;
}

.category span {
  color: black;
}


.card-title a {
  color: #2e2e2e;
}

.card-title a:hover {
  color: #fa9c23;
  text-decoration: none;
}

.card-body {
  padding-left: 0;
}

.card-text {
  font-size: 1.4rem;
}

#view_btn {
  background-color: #fa9c23;
  color: white;
}

.card-img-top {
  width: 200px;
  height: 150px;
}

.ratings {
  font-size: 1.2rem;
  color: #fdcc0d;
}

#no_of_reviews {
  font-size: 0.85rem;
  color: grey;
  margin-left: 0.5rem;
}

/* Footer */
.footer {
  margin-top: 4rem;
  color: #fff;
  width: 100%;
  background: #26292d;
  text-align: left;
  bottom: 0
}


.footer-head {
  color: red;
  font-size: 18px;
}

.footer-body {
  font-size: 13px;
}

.footer-body a {
  color: #fff;
}

.footer btn {
  color: rgba(33, 37, 41, 0.79);
}

.footer #login_button:hover {
  color: rgb(255, 255, 255);
}

/* Ratings */

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #fdcc0d;
}

.rating-outer::before {
  content: '\f006 \f006 \f006 \f006 \f006';
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  color: #f8ce0b;
}

/* Product Details Page */
#product_id {
  color: grey;
  font-size: 0.8rem;
}

#product_price {
  font-size: 2rem;
  font-weight: bold;
}

#cart_btn,
#review_btn {
  border-radius: 2rem;
  background-color: #fa9c23;
  border: none;
  padding: 0.5rem 2rem;
}

#product_seller {
  color: grey;
  font-size: 0.9rem;
}

#stock_status {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

.redColor {
  color: red;
}

.greenColor {
  color: green;
}

#product_image {
  margin-top: 9rem;
}

/* Loader */
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}

.loader:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fa9c23;
  border-color: #fa9c23 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Cart */

.cart-item {
  margin: 1.8rem 0rem;
  padding: 0rem 0.7rem;
}

.cart-item a {
  color: grey;
}

#delete_cart_item {
  color: red;
  background: white;
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
  border: none;
}

#card_item_price {
  color: #febd69;
  font-weight: bold;
  font-size: 1.4rem;
}

#checkout_btn,
.review-btn {
  background-color: #fa9c23;
  border-color: #fa9c23;
  margin-top: 2rem;
  border-radius: 5rem;
}

#view_order_details {
  background-color: #fa9c23;
  border-color: #fa9c23;
}

#order_summary {
  border: 1px solid #e3e3e3;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
}

.order-summary-values {
  float: right;
  font-weight: bold;
}

.stockCounter input {
  border: none;
  width: 3rem;
  text-align: center;
}

.plus,
.minus {
  padding: 0.1rem 0.5rem;
}

.stockCounter input::-webkit-outer-spin-button,
.stockCounter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: white;
}

.header-searchbar .form-control {
  background-color: #fff;
  border: none;
}

.header-searchbar .form-control:focus {
  box-shadow: none;
  border: none;
}

/* Login & Register */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  font-weight: 700;
}

.wrapper form {
  padding: 2.5rem 3rem;
}

.wrapper form .btn {
  background-color: #fa9c23;
  border-color: #fa9c23;
  color: white;
  margin-top: 2.5rem;
}

.wrapper form a {
  font-size: 0.9rem;
  color: grey;
}

/* Avatar */
.avatar {
  display: inline-block;
  margin-bottom: 0;
  height: 3rem;
  width: 3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-circle {
  border-radius: 50% !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

/* Header User Profile */

.avatar-nav {
  margin-right: 0.6rem;
  height: 2.2rem;
  width: 2.2rem;
}

/* Checkout Steps */

.checkout-progress div {
  box-sizing: border-box;
}

.checkout-progress {
  display: block;
  clear: both;
  margin: 20px auto;
  width: auto;
  font-family: sans-serif;
  overflow: auto;
}

.step {
  margin: 0;
  border: 0;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 5px 10px 5px 15px;
  color: grey;
  text-decoration: none;
  cursor: default;
  font-weight: bold;
  float: left;
  height: auto;
}

.incomplete {
  background: #eeeeee;
}

.active-step {
  background: #fa9c23;
  color: #fff;
}

.triangle-active {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #fa9c23;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-active {
  width: 0;
  float: left;
  border-top: 20px solid #fa9c23;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #fa9c23;
  margin-right: -1px;
}

.triangle-incomplete {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #eeeeee;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-incomplete {
  width: 0;
  float: left;
  border-top: 20px solid #eeeeee;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #eeeeee;
  margin-right: -1px;
}

/* User Profile */

.avatar-profile {
  height: 16rem;
  width: 16rem;
}

.user-info h4 {
  font-weight: 800;
  color: grey;
  margin-top: 2rem;
}

.user-info p {
  font-size: 1.1rem;
}

#edit_profile {
  background-color: #fa9c23;
  border-color: #fa9c23;
}

/* Confirm Order */

.order-confirm p,
.order-details p {
  margin-left: 1.5rem;
}

.update-btn {
  background-color: #fa9c23;
  border-color: #fa9c23;
  color: white;
}

.update-btn:hover {
  color: white;
}

/* Pagination */
.page-item.active .page-link {
  background-color: #fa9c23;
  border-color: #fa9c23;
}

.page-link {
  color: #fa9c23;
}

.page-link:hover {
  color: #fa9c23;
}

/* Admin Sidebar */

.sidebar-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  min-height: 100vh;
  font-weight: normal;

  margin-top: 0;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

#sidebar {
  min-width: 100%;
  max-width: 100%;
  background: #232f3e;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #232f3e;
}

#sidebar ul.components {
  padding: 5px 0px;
  border-bottom: 1px solid #232f3e;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: white;
  text-decoration: none;
}

#sidebar ul li a:hover {
  color: #232f3e;
  background: #fff;
}

#sidebar ul li a i {
  margin-right: 0.3rem;
}

/* #sidebar ul li.active>a,
a[aria-expanded='true'] {
  color: #fff;
  background: #232f3e;
} */

a[data-toggle='collapse'] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.header .dropdown-toggle::after {
  right: 25px !important;
}

.dropdown-menu {
  border: none !important;
  margin-top: 18px !important;
  padding: 10px 7px !important;
  border-radius: 17px !important;
  box-sizing: border-box;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
  z-index: 1030;
  
}

.dropdown-menu:before {
  content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}
.dropdown-item.logout {
  color: #cf3131
}
.dropdown-item:hover {
  background-color: #e3e6e6;
  border-radius: 7px;
  color: #f50404;
}

ul ul a {
  font-size: 1rem !important;
  padding-left: 20px !important;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Products List Admin */
#products_table .btn {
  padding: 0.2rem 0.5rem;
  margin-left: 0.4rem;
}

/* Dashboard */

.card-font-size {
  font-size: 1.5rem;
}

/* Reviews */

.rating {
  margin-top: 10rem;
}

.stars {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.star {
  display: inline;
  list-style: none;
  font-size: 3rem;
  padding-left: 0.9rem;
  color: #e3e3e3;
}

.star:first-child {
  padding-left: 0;
}

.orange {
  color: #fa9c23;
}

.yellow {
  color: #fdcc0d;
}

.review_user {
  font-size: 0.8rem;
  color: grey;
}


.categoryPage {
  width: 1500px;
}

.cardCustom {
  min-height: 200px;
  border-bottom: 1px solid #e9e9e9;
}

.cardCustom ul {
  padding-inline-start: 20px !important;
}

.cardImage {
  transition: 0.5s;
}

.cardCustom:hover .cardImage {
  transform: scale(1.2, 1.2);
  overflow: hidden;
}

a:hover {
  text-decoration: none;
}


/* 
 Product Detail Page
 */


.product-details {
  margin-top: 50px;
}

.pro_det_col_1 {
  height: 300px;
}

.pro_det_col_1 img {
  width: 90%;
  height: 90%;
}

.Pro_Det_col_2 {
  display: flex;
  height: 50px;
  color: #0F1111;
  font-size: 16px !important;

}

.Pro_Det_col_2 label {
  width: 110px;
  font-weight: 700 !important;
}

.Pro_Det_col_2 .description {
  text-align: justify;
}

.pro-det-col-3 {
  border: 1px solid #d3d0d0;
  border-radius: 10px;
  height: fit-content;
  padding: 10px 10px 13px 10px;
}

.pro-det-col-3 .chat {
  border: 1px solid #e1dbdb;
  padding: 2px 12px;
  text-align: center;
  border-radius: 100px;
  transition: 1s;
  cursor: pointer;
  font-family: sans-serif;
}

.pro-det-col-3 .chat:hover {
  background-color: #ff5b00;;
  color: #fff;
}


/* 
  Related Products
  */

.related_products {
  margin-top: 50px;
}

.related_products p {
  border-bottom: 1px solid #e4e2df;
}

a:hover {
  color: inherit;
}

.clicked {
  border-bottom: 5px solid #fc1707;
}

/* //ProudctsModel */

.product-desc-head {
  line-height: 2;
}

p:hover {
  color: red;
}

.product-desc.color {
  color: #33383ecc;
  font-size: 14px;
  line-height: 2;
}

.shop-box {
  color: black;
  width: 85%;
  height: 200px;
  border-radius: 10px;
  background-color: white;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 16px 3px rgba(0, 0, 0, .1);

}

.shop-footer {
  margin-top: -9px;
  padding: 2px 5px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(117 120 121 / 79%);
  transition: 1s;

}

.shop-footer a {
  color: rgba(33, 37, 41, 0.79);
  font-size: 16px;
}
.shop-footer:hover {
  background-color: #f60;
  border: 1px solid #f60;;
}

.shop-footer:hover.shop-footer a {
  color: #fff;
}


/* Carousel  */
.carousel {
  height: inherit;
}

.carousel-item {
  height: inherit;
}

.carousel-outer {
  background-image: linear-gradient(90deg, #00347D 0%, #0159D3 100%);
}

.carousel-inner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: .33;
  mix-blend-mode: overlay; */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, .3);
  width: 24px;
  height: 64px;
}

.visually-hidden {
  display: none;
}

/* .topbar {
  background-image: linear-gradient(90deg, #00347D 0%, #0159D3 100%);
} */


.chat-sidebar-product img {
  width: 50px;
  height: auto;
  margin-right: 15px;
}

.conversationName p {
  line-height: 0;
  font-size: 12px;
  color: rgba(33, 37, 41, 0.79);
}

.conversationName p:first-child {
  margin-top: 5px;
}

#user-sidebar {
  min-width: 100%;
  max-width: 100%;
  /* background: #ffffff; */
  color: #4e4c4c;
  transition: all 0.3s;
}

#user-sidebar .components {
  padding: 18px;
  border-bottom: 1px solid #ccd0d3;
  font-size: 17px;
}

.userdashboard-card {
  height: 180px;
  border: 1px solid #ccd0d3;
  border-radius: 8px;
}

.userdashboard-details {
  margin: 20px 0;
}

.userdashboard-details p:first-child {
  font-size: 18px;
  color: #292929;
}

.userdashboard-details p {

  padding: 5px 0;
  font-size: 15px;
  line-height: 0;
  color: #383636;

}

.userdashboard-details p:last-child {
  margin-top: 20px;
  color: #838383;
  text-transform: capitalize;
}


.userdashboard-button a {
  background-color: #0159D3;
  padding: 3px 10px;
  color: rgb(255, 255, 255);
  border-radius: 8px;
}

.userdashboard-button button {
  border: none;
  padding: 3px 10px;
  color: rgb(255, 255, 255);
  background-color: red;
  border-radius: 8px;
}

/* .carousel-item.active {
  display: block;
  z-index: 999;
} */


/* Membership */
.membership_create {
  margin-top: 30px;
}


/* Payment details */
.payment_details {
  margin-top: 30px;
}

.pay_option_button {
  margin-left: 10px;
}

.payment_details i.fa.fa-plus {
  border: 1px solid gray;
  padding: 5px 7px;
  border-radius: 50%;
  cursor: pointer;
}

.payment_online {
  margin-top: 30px;
}

.payment_online p {
  color: gray;
  font-size: 18px;
  margin-top: 11px;
  margin-bottom: 0;
}

.payment_online div {
  margin-top: 20px;
}

.payment_online img {
  width: 250px;
}

.payment_online button {
  width: 56%;
  color: rgb(87, 87, 87);
  background-color: rgb(249, 144, 8);
  padding: 5px;
  border-radius: 50rem;
  border: none;
  transition: 0.7s
}

.payment_online button:hover {
  background-color: rgb(255, 145, 0);
  color: #000;
  transform: scale(1.1);
}

.payment_online button:focus {
  outline: none;
}

.pay_modal_input {
  display: block;
}


.navbar-brand {
  display: flex;
  justify-content: left;
}

.navbar {
  /* background-image: linear-gradient(90deg, #00347D 0%, #0159D3 100%); */
  background-color: #ff5b00;
}


.mobile-button-open {
  display: block;
}

.mobile-button-close {
  display: none;
}


.mobile-sidebar {
  transition: all 10s;
}

.full-banner {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 190px;
  padding-bottom: 190px;
  background-position: 50%;
}

.full-banner.parallax {
  background-attachment: fixed;
}

.full-banner {
  background-image: url('../public/images/backgroundFixed.jpg');
  margin-top: 80px;
}

.full-banner .banner-contain h2 {
  font-size: 100px;
  font-weight: 700;
  color: #ff5b00;
  text-transform: uppercase;
  margin-top: -15px;
}

.full-banner .banner-contain h3 {
  font-size: 60px;
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
}

.full-banner .banner-contain h4 {
  font-size: 24px;
  color: #777;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5em;
  padding-top: 10px;
  margin-bottom: -5px;
  line-height: 1.3;
}


/**
  Responsive
**/


@media only screen and (max-width: 414px) {

  .navbar {
    padding-bottom: 20px;
  }

  .navbar-brand {
    justify-content: center;
  }

  .sell-products {
    display: flex;
    justify-content: center;
    margin-top: 1rem !important;

  }

  .user_profile {
    margin-top: 1rem !important;
  }

  #login_btn {
    margin-left: 0px !important;
  }

  .cardImage img {
    width: 110px;
    height: 100px;
  }

  .cardGroup {
    left: 0 !important;
    padding: 0 5px;
  }

  .shop-box {
    margin-bottom: 5px;
  }

  .pro-det-col-3 {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .wrapper form {
    padding: 0 !important;
  }

  .product-spec {
    margin-right: 10px;
  }

}


@media only screen and (min-width: 415px) {
  .navbar-brand {
    justify-content: left;
  }

  .sell-products {
    display: flex;
    justify-content: center;
  }


  #login_btn {
    margin-left: 0px !important;
  }

}

@media only screen and (min-width: 768px) {
  .logoSize {
    max-width: 150px;
  }

  .navbar-brand {
    justify-content: left;
  }

  .cardImage img {
    width: 140px;
  }
}

@media only screen and (min-width: 992px) {
  .logoSize {
    max-width: 180px;
  }

  .navbar-brand {
    justify-content: left;
  }

  .cardImage img {
    width: 160px;
  }
}

@media only screen and (min-width: 1200px) {

  .navbar-brand a {
    margin-left: -53px;
  }

  .cardImage img {
    width: 180px;
    height: 140px;
  }

  .navbar-brand {
    justify-content: left;
  }
}


/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */